@font-face {
  font-family: 'Recursive Sans';
  src: url('/assets/recursive-prop_xprn_weight_slnt_ital--2019_09_05--subset-0020_007F.woff2') format('woff2'),
       url('/assets/recursive-prop_xprn_weight_slnt_ital--2019_09_05.ttf')  format('truetype'); /* Safari, Android, iOS */
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  scrollbar-color: rgb(153, 206, 201) black;
  scrollbar-width: thin;
}

body {
    font-family: 'Recursive Sans','Segoe UI', Tahoma, sans-serif;
    font-variation-settings: 'wght' 600;
    margin: 0 5%;
    min-height: 100%;
    overflow-x: hidden;
    font-size: calc(16px + .75vw);
    line-height: calc(1.1em + 0.5vw);
}

.main_content--title {
  font-variation-settings: 'wght' 850;
  font-size: calc(48px + 2vw);
  line-height: calc(1.1em + 0.5vw);
  text-align: right;
  margin: 2rem 0 0 0;;
}

.main_content--header p {
  margin: .75rem 0;
}

header > p {
  text-align: right;
}

.group_names--circles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
} 

.circle {
  height: calc(12.5rem + 6vw);
  width: calc(12.5rem + 6vw);
  background: #000000;
  border: calc(0.85rem + .75vw) solid rgb(153, 206, 201);
  border-radius: 50%;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: lowercase;
}

.name1, .name3 {
  align-self: flex-start;
}

.name2 {
  align-self: flex-end;
}

.circle_title {
  padding: calc(0.4rem + 0.5vw);
  height: calc(2.5rem + 1vw);
  width: 80%;
  border-radius: 25px;
  background-color: #ffffff;
  font-size: 1.1em;
  font-variation-settings: "wght" 814;
  margin: 0;
}





.main-footer {
  display: block;
  margin: 6rem 1rem 1rem 1rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.main-footer > p {
  font-size: .6em;
  margin: 0;
  text-align: center;
  padding: 0 2%;
}