@font-face {
  font-family: 'Recursive Sans';
  src: url('/assets/recursive-prop_xprn_weight_slnt_ital--2019_09_05--subset-0020_007F.woff2') format('woff2'),
    url('/assets/recursive-prop_xprn_weight_slnt_ital--2019_09_05.ttf') format('truetype');
  /* Safari, Android, iOS */
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  --deep-blue: rgb(42, 82, 194);
  scrollbar-color: var(--deep-blue) white;
  scrollbar-width: thin;
}

/* main {
  height: 100%;
} */


body {
  font-family: 'Recursive Sans', 'Segoe UI', Tahoma, sans-serif;
  font-variation-settings: 'wght'600;
  margin: 0 5%;
  /* height: 100vh; */
  overflow-x: hidden;
  font-size: calc(16px + .75vw);
  line-height: calc(1.1em + 0.5vw);
  /* max-width: 100%; */
  position: relative;
  /* min-width: 100%; */
  min-height: 100vh;
  height: auto;
  max-width: 100%;
}

.main_content {
  display: block;
  height: auto;
}

.main_content--header {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: end; */
  flex-direction: column;
  align-content: flex-end;
}

/* .text--wrapper {
  flex: 0 0 30vw; 
  margin: 0 1rem 2rem 12rem;
} */

.main_content--title {
  font-variation-settings: 'wght'850;
  font-size: calc(48px + 1vw);
  line-height: calc(1.1em + 0.5vw);
  text-align: right;
  margin: 2rem 0 0 0;
}

.main_content--header p {
  margin: .75rem 0;
  text-align: right;
}

/* header > p {
  text-align: right;
} */



.group_generator_categorys {
  margin: 0;
  display: flex;

}

.group_names--circles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}

input {
  width: 90%;
  border: 0;
  padding: 4px;
  border-radius: 25px;
  text-align: center;
  color: #000000;
}

input::placeholder { 
  color: rgb(0, 0, 0);
  opacity: 1; 
}

.circle {
  height: calc(12.5rem + 3vw);
  width: calc(12.5rem + 3vw);
  background: #000000;
  border: calc(0.5rem + .75vw) solid #b6dad6;
  border-radius: 50%;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: lowercase;
  transition: all .3s ease-in-out;
}

.category_circle {
  height: calc(8rem + 3vw);
  width: calc(8rem + 3vw);
  background: #000000;
  border: calc(0.5rem + .75vw) solid #d7b6da;
  font-size: 1rem;
}

.circle:hover {
  border: 1.5rem solid rgb(42, 82, 194);
  transform: scale(1.1);
}
.category_circle:hover {
  border: 1rem solid  #de8be6;
  transform: scale(1.1);
}

.name1,
.name3 {
  align-self: flex-start;
}

.name2 {
  align-self: flex-end;
}

.circle_title {
  padding: calc(0.4rem + 0.2vw);
  height: calc(2.5rem + 0.5vw);
  width: calc(8rem + 2vw);
  border-radius: 25px;
  background-color: #ffffff;
  font-size: 1em;
  font-variation-settings: "wght"814;
  margin: 0;
}


.main-footer {
  display: block;
  margin: 9rem 1rem 1rem 1rem;
  width: 100%;
  position: static;
  overflow: hidden;
}

.main-footer>p {
  font-size: .60em;
  margin: 0;
  text-align: center;
  padding: 0 2%;
  letter-spacing: -0.053em;
}

.main-footer a {
  text-decoration-style: wavy;
  color: var(--deep-blue);
}

.main-footer a:visited {

  color: rgb(128, 0, 128);
}

.main-footer a:hover {
  color: white;
  background: var(--deep-blue);
  text-decoration: none;
}



/* 
@media (min-width: 590px) {
  .group_names--circles {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4rem;
  } 

  /* .circle {
    margin: 0;
  } */

/* .name1, .name3 {
    align-self: normal;
  }
} */

@media (min-width: 520px) {

  header .main_content--title,
  .main_content--header p {
    text-align: center;
  }
}

@media (min-width: 870px) {

  /* body {
    max-height: 90vh;
  } */

  .main_content {
    display: grid;
    grid-template-columns: 20vw 1fr 2fr;
    grid-template-rows: repeat(5, 8rem);
  }

  .main_content--header {
    grid-column: 1 / 2;
    grid-row: 3;
    width: 30vw;
    display: block;
  }

  .main_content--header h1 {
    text-align: left;
  }

  .main_content--title {
    transition: font-variation-settings .3s;
  }

  .main_content--title:hover {
    font-variation-settings: 'wght'600;
  }

  .text--wrapper p {
    text-align: left;
  }





  .group_names--circles {
    display: grid;
    gap: .5rem;
    grid-column: 2 / -1;
    grid-row: 1;
    margin: 2rem 0 2rem 2rem;
    grid-template-columns: repeat(5, 8rem);
    grid-template-rows: repeat(4, 8rem) auto;
  }

  .circle {
    margin: 0;
    /* height: 16rem;
    width: 16rem; */
  }


  #circle1 {
    grid-column: 2;
    grid-row: 3;
    align-self: normal;
    margin-top: 4.5rem;
  }

  #circle2 {
    align-self: normal;
    grid-column: 3;
    grid-row: 1;
  }

  #circle3 {
    grid-column: 4;
    grid-row: 3;
    align-self: normal;
    margin: 2rem 0 0 1.5rem;
  }
}